

<

<div class="containerConversor">
    <mat-form-field>
        <mat-label>Moeda de Origem</mat-label>
        <mat-select [(ngModel)]="moedaOrigem">
            <mat-option *ngFor="let moeda of moedas" [value]="moeda.symbol">{{ moeda.name }} ({{ moeda.symbol }})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Moeda de Destino</mat-label>
        <mat-select [(ngModel)]="moedaDestino">
            <mat-option *ngFor="let moeda of moedas" [value]="moeda.symbol">{{ moeda.name }} ({{ moeda.symbol }})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Valor a ser convertido</mat-label>
        <input matInput [(ngModel)]="valor" type="number">
    </mat-form-field>
</div>

<div class="button">
    <button type="button" class="btn btn-info" (click)="converterMoeda()">Converter</button>
</div>

<div class="containerResponse" *ngIf="valorConvertido && taxaDeConversao">
    <p class="text">{{ valor }} em {{ moedaOrigem }} equivale a {{ valorConvertido }} {{ moedaDestino }}</p>
    <p class="text">Taxa de conversão utilizada: {{ taxaDeConversao }}</p>
</div>